{% include 'header.html' %}

<h2>About Answer.Market<h2>


<h3>Why?</h3>

Because your time is worth money.

<h3>How?</h3>

Let's say you find someone <a href="/answer/12Qp4Ec8TRz1RKwcRsBK7KSsngioQCn2B8">asking a question</a>, or wanting a small favor. This could be IPv6-matching regex, a Python function, or an <a href="/answer/16jZ8eePe3sVXNREJR9XHqgKku536816c8">eloquent photoshop</a>.<br/>
<br/>
So, <a href="/">submit an answer</a>. Give a sample that's enough of a teaser to show due-diligence and give your customer proof that it's what they want. Send them a link to the answer. If they like your sample and they aren't afraid to spend some Bitcoin, they'll buy it to unlock the answer.

<h3>Want to find questions to answer?</h3>
<a href="https://voat.co/v/answermarket">Voat: /v/answermarket</a><br/>

<h3>API:</h3>

We have an API! You can figure it out from <a href="/">the index</a>. It's pretty simple. It's not stable yet. Don't use it. Contact us if you are wanting to develop with it, and we'll get our act together and stabilize it.

<noscript><blink></noscript><h3>Javascript Usage:</h3><noscript></blink></noscript>

Maybe you're on the deep web. That's great! You probably don't have Javascript enabled in your browser. That's even better! But, there's a couple problems here. Web browsers are so 1999 that they can't submit forms in pure JSON without Javascript. Also, we don't generate QR codes. Your browser does, and needs Javascript for that. If Javascript is a deal breaker for you, contact us and we'll consider adding a way that you won't need Javascript to use Answer.Market.

<h3>Examples:</h3>
<a href="/answer/1FfX1XrmwTvAWFbm2V3Ln7j4jjAmWwLrfW">Paid test answer</a><br/>
<a href="/answer/1Ms9Z2ofeCWjUEXNbHcJyEsXkoToUkFhm">Python question on Voat</a><br/>
More in the <a href="/answers">public answers index</a>.

<h3><a href="mailto:sega01@go-beyond.org?subject=Answer.Market">Need help?</a></h3>
<br/>
<h5><i>Payment processing handled by <a href="https://coinfee.net">coinfee</a>. Answer.Market made by <a href="http://go-beyond.org/">Teran McKinney</a>.</i></h5>
{% include 'footer.html' %}
